@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Oswald:wght@500&family=Raleway:wght@900&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    font-family: Open Sans Condensed, sans-serif; 
    font-weight: 300; 
    color: #ffffff;
}

/* Hero Image */

#hero-image {
    background: url(/assets/images/hero-imageS.jpg) center center no-repeat;
    width: 100%; 
    min-height: 100vh;
    background-size: cover; 
    position: relative;  
}



/* logo */ 

#logo {
    font-family: Raleway, sans-serif; 
    font-size: 7rem;
    text-shadow: #FBFFFF 2px 5px;    
}

#logo-x  {
    font-size: 10rem;  
    text-shadow: #FBFFFF 2px 5px;   
}

/* Navigation Bar */ 

header {
    display: flex;
    padding: 0px 150px; 
    justify-content: space-between;
    align-items: center;    
}

header a {
    text-decoration: none; 
    color: inherit; 
}

#navbar li {
    list-style-type: none;
    display: inline-block; 
    font-size: 1.5rem; 
    margin: 5px; 
    padding-top: 60px; 
    text-transform: uppercase;
    font-family: Oswald; 
}

.nav-hov:hover {
    border-bottom: 3px solid #FBFFFF; 
}

#signup-call {
    background-color: transparent;
    color: #ffffff; 
    text-transform: uppercase; 
    border-radius: 5px; 
    font-size: 1.2rem;  
    padding: 10px 10px;
    font-family: Oswald; 
    cursor: pointer; 
    border: 3px solid #FBFFFF; 
    box-shadow: #FBFFFF 2px 5px; 
}

#signup-call:hover {
    background-color: #f7756f; 
}
    
/* Ethos */ 

#ethos {
    position: absolute; 
    font-size: 3.4rem; 
    text-transform: uppercase; 
    top: 80%; 
    left: 1%; 
    text-shadow: #FBFFFF 2px 5px; 
    font-family: Raleway; 
}


p {
    width: 900px; 
    height: 900px; 
}