@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Raleway:wght@900&family=Roboto&display=swap');

/* Create A Base 10 Unit For Measurments */
html {
    font-size: 62.5%;
}

/* Add Defualt Settings To Document */

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    font-family: roboto, serif; 
    font-weight: 300; 
    color: #ffffff;
    background-image: linear-gradient(to right, #f1c2b0, #f1c2ae, #f0c2ae, #eec1ae,  #eebfac, #edbfac);  
    background-attachment: fixed;
    background-origin: initial;
    position: realtive; 
}

/* Hero Image */

#background-image {
    background: url('../images/hero-imageS.jpg') center center no-repeat;
    width: 100vw; 
    min-height: 96vh;
    background-size: cover; 
}

/* logo */ 

#logo {
    font-family: Raleway, sans-serif; 
    font-size: 6rem;
}

#logo span  {
    font-size: 8rem;  
    text-shadow: #f7756f 10px 5px; 
}

/*  Navigation Bar & Effect */ 

header {
    display: flex;
    padding: 10px 50px;
    justify-content: space-between;  
}

header a {
    text-decoration: none; 
    color: inherit; 
}

.navbar li{
    list-style-type: none;
    display: inline-block; 
    font-size: 2rem; 
    margin: 5px;
    line-height: 105px;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
}

.nav-hov:hover, .active {
    border-bottom: 3px solid  #f7756f;
}

/* Guided Meditations Header */ 

#guided-sticky-header {
    position: sticky; 
    top: 0;
}

/* Sign Up Button & Effect */ 

#signup-call {
    background-color: #f7756f;
    color: #ffffff; 
    text-transform: uppercase; 
    border-radius: 3px; 
    font-size: 2rem;  
    padding: 3px 3px;
    font-family: Oswald; 
    cursor: pointer; 
    border: 3.5px solid #FBFFFF; 
    box-shadow: #f7756f 10px 5px;
}

#signup-call:hover {
    background-color: #FBFFFF; 
    color: #f1c2b0;
}
    
/* Ethos */ 

#ethos {
    position: absolute; 
    font-size: 5.5rem; 
    text-transform: uppercase; 
    margin-left: auto;
    margin-right: auto; 
    left: 0; 
    right: 0; 
    top: 72%;   
    font-family: Raleway, sans-serif;
    text-align: center;
}

.lock {
    font-size: 8.2rem !important;
    text-shadow: #f7756f 10px 5px; 
}


/* Guided Meditations */ 

.guided-meditations h2 {
    font-size: 15rem; 
    text-align: center;
    font-family: Raleway, sans-serif;  
    text-transform: uppercase; 
    color: #f7756f;
    text-shadow: #ffffff 12px 12px; 
    margin: 100px 0 50px;

}

#intro-to-mbct {
    display: flex;
    flex-direction: column;
}

.intro-to-mbct > p {
    text-align: center;
    justify-content: center;
    font-size: 3rem;
    padding: 4rem;
    text-align: left;
    background-color: #f7756f;
}

#right-aligned-p {
    text-align: right;
    background-color: #ffffff;
    color: #f7756f; 
}

.guided-grid h3 {
    color: #ffffff;
    font-size: 6.5rem; 
    font-family: Raleway, sans-serif;  
    text-transform: uppercase; 
    text-shadow:  #f7756f 3px 3px, #ffffff 6px 6px;
}

.guided-grid p {
    font-size: 2rem;
}

.guided-grid {
    margin: 10rem 50rem 0 50rem;
    justify-content: center;
    height: 75vh;
    display: grid;
    column-gap: 5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 150px 50px;
    grid-template-areas: "heading-box image-box"
    "paragraph-box ."
    ". ."
    "exercise-box .";
}

.heading-box {
    grid-area: heading-box; 
}

.paragraph-box {
    grid-area: paragraph-box; 
    width: 50rem;
}

.exercise-box {
    grid-area: exercise-box; 
    padding-top: 30px;
    margin-top: 20px;
}

.image-box {
    grid-area: image-box; 
} 

#guided-flex-video {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

#guided-flex-video h3 {
    color: #ffffff;
    font-size: 6.5rem; 
    font-family: Raleway, sans-serif;  
    text-transform: uppercase; 
    text-shadow:  #f7756f 3px 3px, #ffffff 6px 6px;
    margin-bottom: 5rem;
}

#guided-flex-video p {
    font-size: 2rem;
    text-align: center;
}
/* Guided Meditations Images */

.guided {
    font-size: 40rem !important; 
    color:  #ffffff; 
    text-shadow:  #f1c2b0 15px 15px
}

.fas {
    font-size: 40rem !important;
    color:  #ffffff;
    margin-top: 40px;
    text-shadow: #f1c2b0 25px 25px; 
}

.far {
    margin: 0 0 5px 15px;
}
.square-icon-container {
    background-color: #f7756f;
    height: 40rem;
    width: 40rem;
    border-radius: 1rem;
    box-shadow:  #ffffff 5px 5px, #f7756f 10px 10px, #ffffff 15px 15px, #f7756f 20px 20px, #ffffff 25px 25px; 
}

.circle-icon-container {
    background-color: #f7756f;
    height: 40rem;
    width: 40rem;
    border-radius: 50%;
    box-shadow:  #ffffff 5px 5px, #f7756f 10px 10px, #ffffff 15px 15px, #f7756f 20px 20px, #ffffff 25px 25px; 
}

/* Guided Meditations Audio & Video */

audio {
    width: 40rem; 
}

audio:hover{
    transform: scale(1.1);
}

iframe {
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: #ffffff 5px 5px, #f7756f 10px 10px, #ffffff 15px 15px, #f7756f 20px 20px, #ffffff 25px 25px;
}

/* Sign Up - Header & Eye Animation */

#animation-header {
    font-size: 10rem; 
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    color: #f7756f; 
    text-shadow: #ffffff 8px 8px;
}

#eye-animation {
    width: 500px; 
    height: 500px; 
    background: #ffffff;
    transform: rotate(45deg);
    border-radius: 75% 0;
    overflow: hidden; 
    cursor: pointer;
}

#ball-animation {
    width: 200px; 
    height: 200px; 
    background: #468C98;
    border-radius: 50%;
    border: 60px solid #2f2f2f; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%);
}

#shut-animation {
    width: 710px; 
    height: 400px; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%) rotate(-45deg);
    z-index: 999;
}

#shut-animation span {
    display: block; 
    width: 100%; 
    height: 20%; 
    background: #f7756f; 
    border-radius: 0 0 60% 60%;
    transition: 0.4s all; 
}

#eye-animation:hover > #shut-animation span {
    height: 100%; 

}
/* Sign Up Form  */ 

.sign-up {
    margin-top: 50px;
    padding-left: 200px;
    display: grid;
    grid-template-columns: 1150px 600px;
    grid-template-rows: 100px 50px;
    grid-template-areas: "animation-header sign-up-form"
    ". ."
    "eye-animation ."; 
}

#animation-header {
    grid-area: animation-header;
}

#eye-animation {
    grid-area: eye-animation;
    margin-left: 250px;
}

#sign-up-form {
    grid-area: sign-up-form;
}

#sign-up-form {
    width: 500px; 
    height: 750px; 
    background: rgba(250, 124, 117, 0.9);
    border-radius: 3px;
    padding: 40px;
    margin: 30px;
    box-shadow:  #ffffff 15px 15px 1px,  15px 15px 1px 2px #f7756f;
}

#sign-up-form > h2 {
    margin-bottom: 20px;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

#sign-up-form > label {
    font-size: 1.5rem;
    font-family: Raleway, sans-serif;
}

.text-details {
    display: block; 
    width: 100%; 
    box-shadow:  rgba(0,0,0,1);
    height: 25px;
    margin: 5px 0 20px 0; 
    border: none;
    border-radius: 3px;
    box-shadow: #ffffff 5px 5px 1px,  5px 5px 1px 2px #f7756f;
    border: 3px solid #f7756f;
}

.text-label {
    height: 200px;
    font-family: roboto;   
}

#submit-button {
    text-align: center;
    margin-left: 90px;
    padding: 20px 40px;
    background-color: #ffffff;
    box-shadow: #ffffff 5px 5px 1px,  5px 5px 1px 2px #f7756f;
    border: 3px solid #f7756f;  
    color: #f7756f; 
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
}

#submit-button:hover {
    background-color: #f7756f; 
    color: #ffffff;
    cursor: pointer;
} 

/* Footer */ 

footer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 1.5rem;
    align-items: center;
    margin: 160px 15px 0 0;
}

.social-networks a {
    color: inherit;
}

.social-networks li {
    display: inline-block; 
    list-style-type: none;
    padding: 10px;
}

/* Footer Home Page */ 

#footer-home {
    margin: 0 0 0 0; 
}

/* Media Queries */ 

/* Screen Size: 1200px & Below */ 
@media screen and (max-width: 1200px) {
    #ethos {
        top: 65%;
    }
}

/* Screen Size: 1024px & Below */ 
@media screen and (max-width: 1024px) {
    .guided-meditations h2 {
        font-size: 12.5rem;
    }

    .guided-grid {
        margin-bottom: 200px;
        grid-template-columns: 0.5fr;
        grid-template-rows: 4fr;
        grid-gap: 2rem;
        justify-content: center;
        grid-template-areas: "heading-box"
        "paragraph-box"
        "image-box"
        "exercise-box";
    }

    .exercise-box {
        margin-bottom: 500px; 
    }


}
/* Screen Size: 768px & Below */ 
@media screen and (max-width: 768px) {
    #ethos   {
        font-size: 4rem; 
    }

    .lock {
        font-size: 5rem !important;
    }

    #logo {
        font-size: 5.5rem;
    }

    #logo > span {
        font-size: 7.5rem;
    }

    .navbar li {
        font-size: 1.5rem;
    }

    #signup-call {
        font-size: 1.5rem;
    }

   
    header {
        padding: 10px 10px;
        text-align: center;
    }

    footer {
        flex-direction: column;
    } 
}



/* Screen Size: 480px & Below */ 
@media screen and (max-width: 480px) {
    header {
        flex-direction: column;
        margin-top: 30px;
    }

    .navbar li {
        line-height: 0;
    }

    #ethos {
        font-size: 2.2rem;
        top: 73%;
    }

    footer {
        font-size: 1.4rem;
    }

    #background-image {
        background-size: 1000px; 
    }
}

/* Screen Size: 320px & Below */  
@media screen and (max-width: 320px) {
    #ethos {
        font-size: 2rem;
        top: 75%; 
    }
}

/* Screen Size: 280px & Below */
@media screen and (max-width: 280px) {
    footer {
        font-size: 1rem;
    }

    #background-image {
        background-size: 700px;
    }
}