@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Oswald:wght@500&family=Raleway:wght@900&display=swap');

/* Create A Base 10 Unit Measurments for rem & em */
html {
    font-size: 62.5%;
}

/* Add Defualt Settings To Document */

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    font-family: Open Sans Condensed, sans-serif; 
    font-weight: 300; 
    color: #ffffff;
    background-image: linear-gradient(to right, #f1c2b0, #f1c2ae, #f0c2ae, #eec1ae,  #eebfac, #edbfac);  
}

/* Hero Image */

#hero-image {
    background: url(/assets/images/hero-imageS.jpg) center center no-repeat;
    width: 100%; 
    min-height: 95vh;
    background-size: cover; 
    position: relative;  
}

/* logo */ 

#logo {
    font-family: Raleway, sans-serif; 
    font-size: 12rem;
    text-shadow: #FBFFFF 4px 5px;    
}

#logo b  {
    font-size: 16rem;  
    text-shadow: #f7756f 10px 5px; 
}

/*  Navigation Bar & Effect */ 

header {
    display: flex;
    padding: 0px 150px; 
    justify-content: space-between;
    align-items: center;    
}

header a {
    text-decoration: none; 
    color: inherit; 
}

#navbar li{
    list-style-type: none;
    display: inline-block; 
    font-size: 2.4rem; 
    margin: 5px; 
    padding-top: 60px; 
    text-transform: uppercase;
    font-family: Oswald, sans-serif; 
    text-shadow: #f7756f 1px 1px;
}

.nav-hov:hover {
    border-bottom: 3px solid  #f7756f;
}

/* Sign Up Button & Effect */ 

#signup-call {
    background-color: #f7756f;
    color: #ffffff; 
    text-transform: uppercase; 
    border-radius: 5px; 
    font-size: 2rem;  
    padding: 10px 10px;
    font-family: Oswald; 
    cursor: pointer; 
    border: 3px solid #FBFFFF; 
    box-shadow: #f7756f 10px 5px; 
}

#signup-call:hover {
    background-color: #FBFFFF; 
    color: #f1c2b0;
}
    
/* Ethos */ 

#ethos {
    position: absolute; 
    font-size: 5.44rem; 
    text-transform: uppercase; 
    top: 75%;   
    text-shadow: #FBFFFF 4px 5px; 
    font-family: Raleway;
}

.material-icons {
    font-size: 82px;
    text-shadow: #f7756f 10px 5px;
}

/* Introduction to MBCT */ 

#guided-meditation h2 {
    font-size: 20rem;
    text-align: center; 
    font-family: Oswald; 
    text-shadow: #f7756f 10px 5px; 
    text-transform: uppercase;
}

/* Sign Up Form */ 

.sign-up-form {
    margin: 150px 10% 0 0; 
    color: #ffffff;
    background: rgba(250, 124, 117, 0.9);
    max-width: 400px;
    left: 10%;
    padding: 30px; 
    box-shadow: #FBFFFF 4px 5px;
}

.sign-up-form > h2 {
    margin-bottom: 20px;
    font-size: 4rem; 
}

.text-details {
    background: transparent; 
    color: #ffffff;  
    width: 100%; 
    height: 25px; 
    margin: 5px 0 20px 0; 
    border: 1px solid  #FBFFFF; 
    box-shadow:  #FBFFFF 4px 5px;
}

.sumbit-button {
    margin-top: 20px; 
    padding: 15px 32px 15px 32px; 
    text-align: center; 
    font-size: 100%; 
    background-color: #f7756f;
    color: #ffffff; 
    box-shadow: #f7756f 10px 5px; 
    display: block; 
    border: 3px solid #FBFFFF; 
}

.sumbit-button:hover {
    background-color: #FBFFFF; 
    color: #f1c2b0;
}

/* Footer */ 

footer {
    display: flex; 
    padding: 0px 50px; 
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;   
    text-shadow: #f7756f 1px 1px;
    text-transform: uppercase;
}

#social-networks a {
    color: inherit;
}

#social-networks li {
    display: inline-block; 
    list-style-type: none;
    padding: 3rem;
}
